.promo {
    min-height: 700px;
    background: url('../../img/bg-banner.webP') center center/cover no-repeat;
}

.promo .promo__info {
    width: 55%;
    padding: 150px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #323232;
}

.promo .promo__info p {
    margin-top: 20px;
}

.promo .promo__info a {
    padding: 10px 25px;
    background-color: var(--second-color);
    font-weight: 700;
    border-radius: 50px;
    text-decoration: none;
    color: #fff;
    margin-top: 20px;
}

@media screen and (max-width: 767px) {
    .promo .promo__info {
        width: 100%;
        align-items: center;
        text-align: center;
    }
}